[supervisord]
user=root
logfile=/var/log/supervisord.log
pidfile=/var/log/supervisord.pid
nodaemon=true

[program:app]
command=adclaw app --host 0.0.0.0 --port ${ADCLAW_PORT}
user=adclaw
autostart=true
autorestart=true
priority=30
stderr_logfile=/var/log/app.err.log
stdout_logfile=/var/log/app.out.log
environment=DISPLAY=":1",PLAYWRIGHT_CHROMIUM_EXECUTABLE_PATH="/usr/bin/chromium",ADCLAW_RUNNING_IN_CONTAINER="1",HOME="/home/adclaw"
